<main class="main-content">
  <h3 class="title-page">Página inicial</h3>
  <section>
    <h4>Tarefas com data de conclusão próxima</h4>
    <div>
      <ul class="list">
        <li>
          <span class="icon-list hint--right" aria-label="Concluir essa tarefa">
            <a href="#">
              <i data-eva="checkmark-outline" data-eva-animation="none" data-eva-fill="#BDBDBD"></i>
            </a>
          </span>
          <p>React A JavaScript library for building user interfaces Get Started</p>
          <time><span class="progress-bar" style="width: 95%;"></span>04 hrs</time>
        </li>
        <li>
          <span class="icon-list hint--right" aria-label="Concluir essa tarefa">
            <a href="#">
              <i data-eva="checkmark-outline" data-eva-animation="none" data-eva-fill="#BDBDBD"></i>
            </a>
          </span>
          <p>VueJS the Progressive JavaScript Framework</p>
          <time><span class="progress-bar" style="width: 80%;"></span>12 hrs</time>
        </li>
        <li>
          <span class="icon-list hint--right" aria-label="Concluir essa tarefa">
            <a href="#">
              <i data-eva="checkmark-outline" data-eva-animation="none" data-eva-fill="#BDBDBD"></i>
            </a>
          </span>
          <p>Ionic helps developers build and ship beautiful cross-platform hybrid apps.</p>
          <time><span class="progress-bar" style="width: 45%;"></span>35 hrs</time>
        </li>
        <li>
          <span class="icon-list hint--right" aria-label="Concluir essa tarefa">
            <a href="#">
              <i data-eva="checkmark-outline" data-eva-animation="none" data-eva-fill="#BDBDBD"></i>
            </a>
          </span>
          <p>Angular One framework. Mobile & desktop.</p>
          <time><span class="progress-bar" style="width: 23%;"></span>63 hrs</time>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <h4>Projetos recentes</h4>
    <div class="project-list">
      <div class="project-container">
        <a href="#">
          <i data-eva="more-horizontal-outline" data-eva-animation="none" data-eva-fill="#BDBDBD"></i>
        </a>
        <h5>SHOW</h5>
      </div>
      <div class="project-container">
        <a href="#">
          <i data-eva="more-horizontal-outline" data-eva-animation="none" data-eva-fill="#BDBDBD"></i>
        </a>
        <h5>TCC</h5>
      </div>
      <div class="project-container">
        <a href="#">
          <i data-eva="more-horizontal-outline" data-eva-animation="none" data-eva-fill="#BDBDBD"></i>
        </a>
        <h5>VIAGEM</h5>
      </div>
      <div class="project-container">
        <a href="#">
          <i data-eva="more-horizontal-outline" data-eva-animation="none" data-eva-fill="#BDBDBD"></i>
        </a>
        <h1>+</h1>
      </div>
    </div>
  </section>
</main>