<main>
  <section class="choose">
    <h4 id="create">Criar conta</h4>
    <h4 id="login">Entrar</h4>
  </section>
  <section>
    <h1>Acesse sua conta</h1>
  </section>
  <section class="section-form">
    <button>Entrar com o Google</button>
    <div class="separator">
      <h3><span class="ou">ou</span></h3>
      <span class="line"></span>
    </div>
    <form method="POST" action="" class="validateForm">
      <div>
        <label for="btnEmail">
          <span>E-mail</span>
        </label>
        <input type="text" id="btnEmail" class="input-button" required>
      </div>
      <div>
        <label for="btnPassword">
          <span>Senha</span>
        </label>
        <input type="text" id="btnPassword" class="input-button" required>
      </div>
      <div class="sign-container">
        <a href="#">Esqueceu sua senha?</a>
        <button class="button-disabled">Entrar</button>
      </div>
    </form>
  </section>
</main>