<h4 class="logo">LOGO</h4>
<main>
  <section class="choose">
    <h4 id="create" onclick="changeElementStyle([
      { element: '#create', class: 'selected' },
      { element: '#frmCreateAccount', class: 'display-block' },
      { element: '#login', class: 'deselect' },
      { element: '#frmLogin', class: 'display-none' } 
    ]);" class="deselect">Criar conta</h4>
    <h4 id="login" onclick="changeElementStyle([
      { element: '#login', class: 'selected' },
      { element: '#frmLogin', class: 'display-block' },
      { element: '#create', class: 'deselect' },
      { element: '#frmCreateAccount', class: 'display-none' } 
    ]);">Entrar</h4>
  </section>
  <section>
    <h1>Acesse sua conta</h1>
  </section>
  <section class="section-form">
    <button class="matter-button-outlined matter-secondary">Entrar com o Google</button>
    <div class="separator">
      <h3><span class="or">ou</span></h3>
      <span class="line"></span>
    </div>
    <form method="POST" action="http://localhost:8082/auth/authenticate/" class="validateForm" id="frmLogin">
      <div class="column">
        <label class="matter-textfield-outlined matter-secondary">
          <span class="matter-tooltip"></span>
          <input name="email" type="email" placeholder=" " required />
          <span>Email</span>
        </label>
        <label class="matter-textfield-outlined matter-secondary">
          <span class="matter-tooltip "></span>
          <input name="password" type="password" placeholder=" " required />
          <span>Senha</span>
        </label>
      </div>
      <div class="row">
        <a href="#">Esqueceu sua senha?</a>
        <button class="matter-button-contained matter-secondary">Entrar</button>
      </div>
    </form>
    <form method="POST" action="http://localhost:8082/auth/register/" class="validateForm" id="frmCreateAccount">
      <div class="column">
        <div class="row">
          <label class="matter-textfield-outlined matter-secondary">
            <span class="matter-tooltip"></span>
            <input name="name" placeholder=" " required />
            <span>Nome</span>
          </label>
          <label class="matter-textfield-outlined matter-secondary">
            <span class="matter-tooltip "></span>
            <input name="lastName" placeholder=" " required />
            <span>Sobrenome</span>
          </label>
        </div>
        <label class="matter-textfield-outlined matter-secondary">
          <span class="matter-tooltip"></span>
          <input name="email" type="email" placeholder=" " required />
          <span>Email</span>
        </label>
        <div class="row">
          <label class="matter-textfield-outlined matter-secondary">
            <span class="matter-tooltip"></span>
            <input name="password" type="password" placeholder=" " required />
            <span>Senha</span>
          </label>
          <label class="matter-textfield-outlined matter-secondary">
            <span class="matter-tooltip "></span>
            <input type="password" placeholder=" " required />
            <span>Confirmar senha</span>
          </label>
        </div>
      </div>
      <div class="row">
        <a href="#">Esqueceu sua senha?</a>
        <button class="matter-button-contained matter-secondary">Entrar</button>
      </div>
    </form>
  </section>
</main>