<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/home.css" />
<main class="panel">
    <h3 class="title-page">Página inicial</h3>
    <section>
        <h4>Tarefas com data de conclusão próxima</h4>
        <div>
            <ul>
                <li>
                    <span class="hint--right" aria-label="Concluir esse projeto">
                        <a href="#">
                            <i data-eva="checkmark-outline" data-eva-animation="shake" data-eva-fill="#BDBDBD"></i>
                        </a>
                    </span>
                    <p>Apresentar qualificação</p>
                    <time><div class="progress-bar" style="min-width: 90%; border-radius: 1rem;"></div>11/04/2019</time>
                </li>
                <li>
                    <span class="hint--right" aria-label="Concluir esse projeto">
                        <a href="#">
                            <i data-eva="checkmark-outline" data-eva-animation="shake" data-eva-fill="#BDBDBD"></i>
                        </a>
                    </span>
                    <p>Aprimorar CSS do menu</p>
                    <time><div class="progress-bar" style="min-width: 65%;"></div>17/04/2019</time>
                </li>
                <li>
                    <span class="hint--right" aria-label="Concluir esse projeto">
                        <a href="#">
                            <i data-eva="checkmark-outline" data-eva-animation="shake" data-eva-fill="#BDBDBD"></i>
                        </a>
                    </span>
                    <p>Implementar login pela conta do Google e Facebook</p>
                    <time><div class="progress-bar" style="min-width: 30%;"></div>28/04/2019</time>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <h4>Projetos recentes</h4>
        <div class="project-list">
            <div class="project-container">
                <span class="hint--right" aria-label="Concluir esse projeto">
                    <a href="#">
                        <i data-eva="checkmark-circle-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i>
                    </a>
                </span>
                <h5>SHOW</h5>
            </div>
            <div class="project-container">
                <span class="hint--right" aria-label="Concluir esse projeto">
                    <a href="#">
                        <i data-eva="checkmark-circle-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i>
                    </a>
                </span>
                <h5>TCC</h5>
            </div>
            <div class="project-container">
                <span class="hint--right" aria-label="Concluir esse projeto">
                    <a href="#">
                        <i data-eva="checkmark-circle-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i>
                    </a>
                </span>
                <h5>VIAGEM</h5>
            </div>
            <div class="project-container">
                <span class="hint--right" aria-label="Concluir esse projeto">
                    <a href="#">
                        <i data-eva="checkmark-circle-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i>
                    </a>
                </span>
                <h1>+</h1>
            </div>
        </div>
    </section>
</main>