<form method="POST">
    <div>
        <label>Digite seu nome</label>
        <input type="text">
    </div>
    <div>
        <label>Digite sua senha</label>
        <input type="text">
    </div>
    <div class="row">
        <div class="length-8">
            <label>Digite sua cidade</label>
            <input type="text">
        </div>
        <div class="length-2">
            <label>Digite o UF</label>
            <select>
                <option>Option1</option>
                <option>Option1</option>
                <option>Option1</option>
                <option>Option1</option>
            </select>
        </div>
    </div>
    <div class="right">
        <button>Save</button>
    </div>
</form>