<main class="main-content">
  <h3 class="title-page">Projetos</h3>
  <section class="margin-bottom">
    <div class="tag" id="">#genericos</div>
    <div class="tag" id="">#tec. informação</div>
    <div class="tag" id="">#artistico</div>
    <div class="tag" id="">#contrução</div>
  </section>
  <h4>Genericos</h4>
  <section class="project-session">
    <div class="container">
      <div class="project">
        <i data-eva="layers" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="2.2rem"
          data-eva-height="2.2rem"></i>
        <time>20/19</time>
        <h4 class="project-title">SHOW</h4>
      </div>
      <div class="project">
        <i data-eva="layers" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="2.2rem"
          data-eva-height="2.2rem"></i>
        <time>20/19</time>
        <h4 class="project-title">TCC</h4>
      </div>
    </div>
  </section>
  <h4>Tecnologia da informação</h4>
  <section class="project-session">
    <div class="container">
      <div class="project">
        <i data-eva="layers" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="2.2rem"
          data-eva-height="2.2rem"></i>
        <time>20/19</time>
        <h4 class="project-title">APP</h4>
      </div>
      <div class="project">
        <i data-eva="layers" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="2.2rem"
          data-eva-height="2.2rem"></i>
        <time>20/19</time>
        <h4 class="project-title">Novo front-end</h4>
      </div>
    </div>
  </section>
</main>