<main class="main-content">
  <h3 class="title-page">Minhas tarefas</h3>
  <section>
    <div class="tag" id="">#prazo</div>
    <div class="tag" id="">#complexo</div>
    <div class="tag" id="">#viagem</div>
    <div class="tag" id="">#tcc</div>
    <div class="tag" id="">#show</div>
  </section>
  <section class="list">
    <header>
      <div class="list-item">Tarefa</div>
      <div class="list-item list-item-small">Projeto</div>
      <div class="list-item list-item-small">Remetente</div>
      <div class="list-item list-item-small">Prazo</div>
    </header>
    <div class="list-row">
      <div class="list-item">
        <span class="priority-progress"></span>
        <span class="icon-list hint--right" aria-label="Concluir essa tarefa">
          <a href="#">
            <i data-eva="checkmark-outline" data-eva-animation="none" data-eva-fill="#000000"></i>
          </a>
        </span>
        Enviar um foguete para lua
      </div>
      <div class="list-item list-item-small">TCC</div>
      <div class="list-item list-item-small"><img src="images/profile.jpg" class="profile-img"></div>
      <div class="list-item list-item-small">
        <time class="progress-bar"><span class="progress" style="width: 75%;"></span>20/19 - 13:50</time>
      </div>
    </div>
    <div class="list-row">
      <div class="list-item">
        <span class="priority-progress"></span>
        <span class="icon-list hint--right" aria-label="Concluir essa tarefa">
          <a href="#">
            <i data-eva="checkmark-outline" data-eva-animation="none" data-eva-fill="#000000"></i>
          </a>
        </span>
        Criar uma nova lib para o sistema
      </div>
      <div class="list-item list-item-small">SHOW</div>
      <div class="list-item list-item-small"><img src="images/profile.jpg" class="profile-img"></div>
      <div class="list-item list-item-small">
        <time class="progress-bar"><span class="progress" style="width: 45%;"></span>20/19 - 13:50</time>
      </div>
    </div>
    <div class="list-row">
      <div class="list-item">
        <span class="priority-progress"></span>
        <span class="icon-list hint--right" aria-label="Concluir essa tarefa">
          <a href="#">
            <i data-eva="checkmark-outline" data-eva-animation="none" data-eva-fill="#000000"></i>
          </a>
        </span>
        Recriar todo o design do site
      </div>
      <div class="list-item list-item-small">Viagem</div>
      <div class="list-item list-item-small"><img src="images/profile.jpg" class="profile-img"></div>
      <div class="list-item list-item-small">
        <time class="progress-bar"><span class="progress" style="width: 95%;"></span>20/19 - 13:50</time>
      </div>
    </div>
    <div class="list-row">
      <div class="list-item">
        <span class="priority-progress"></span>
        <span class="icon-list hint--right" aria-label="Concluir essa tarefa">
          <a href="#">
            <i data-eva="checkmark-outline" data-eva-animation="none" data-eva-fill="#000000"></i>
          </a>
        </span>
        Desenvolver API em NodeJS
      </div>
      <div class="list-item list-item-small">TCC</div>
      <div class="list-item list-item-small"><img src="images/profile.jpg" class="profile-img"></div>
      <div class="list-item list-item-small">
        <time class="progress-bar"><span class="progress" style="width: 30%;"></span>20/19 - 13:50</time>
      </div>
    </div>
  </section>
</main>