@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  word-wrap: break-word;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  background: none; 
}

:root { font-size: 14px }

h1 { font-size: 2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.0rem; }

.content {
  display: grid;
  grid-template-columns: 18rem auto;
  grid-template-rows: 4rem;
  grid-template-areas: "menu header header" "menu main main"
}

.menu { grid-area: menu; }
.header { grid-area: header;  }
main { 
  grid-area: main; 
  padding: 1rem 5rem;
  height: calc(100vh - 4rem);
  overflow: auto;
}

.red { background-color: #FE2E64 !important; }
.blue { background-color: #2E2EFE !important; }
.black { background-color: #848484 !important; }
.pink { background-color: #FE2EF7 !important; }
.green { background-color: #2EFE64 !important; }
.yellow { background-color: #F7FE2E !important; }