@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  word-wrap: break-word;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  background: none; 
}

:root { font-size: 14px }

h1 { font-size: 2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.0rem; }

.content {
  display: grid;
  grid-template-columns: 18rem auto;
  grid-template-rows: 4rem;
  grid-template-areas: "menu header header" "menu main main"
}

.menu { grid-area: menu; }
.header { grid-area: header;  }
main { 
  grid-area: main; 
  padding: 1rem 5rem;
  height: calc(100vh - 4rem);
  overflow: auto;
}

.red { background-color: #DF013A !important; }
.blue { background-color: #0174DF !important; }
.black { background-color: #6E6E6E !important; }
.pink { background-color: #FE2EF7 !important; }
.green { background-color: #01DF74 !important; }
.red-hover:hover { box-shadow: 0 0 .1px 2px #DF013A !important; }
.blue-hover:hover { box-shadow: 0 0 .1px 2px #0174DF !important; }
.black-hover:hover { box-shadow: 0 0 .1px 2px #6E6E6E !important; }
.pink-hover:hover { box-shadow: 0 0 .1px 2px #FE2EF7 !important; }
.green-hover:hover { box-shadow: 0 0 .1px 2px #01DF74 !important; }

.none {
  display: none;
}

.flex {
  display: flex;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.form-content {
  margin-top: 5rem;
  width: 40rem;
}

.form-content header {
  padding: 1rem 0 !important;
}

.form-content section {
  display: flex;
  justify-content: space-between;
  min-width: 40rem;
  padding: .25rem 0;
  text-align: right;
}

#close {
  position: fixed;
  top: .8rem;
  right: .8rem;
  z-index: 4;
}