.progress-bar {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #2A1B3D !important;
  width: 8rem !important;
  height: 1.8rem !important;
  border-radius: 999rem !important;
  color: #FFFFFF !important;
  z-index: 1 !important;
}

.progress-bar:after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 0 1px 5px #FAFAFA;
  border-radius: 999rem;
}

.progress {
  position: absolute;
  left: 0;
  width: 50%;
  background-color: #0174DF;
  height: 100%;
  z-index: -1;
}