.tag {
  display: inline-block;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 .5rem 1rem 0;
  cursor: pointer;
}

.tag:hover { color: rgb(33, 150, 243); }

.selected { color: rgb(33, 150, 243); }

.unselect { color: #000000; }