/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  word-wrap: break-word;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  background: none; }

::-webkit-scrollbar { width: .2rem; }
::-webkit-scrollbar-thumb { background-color: #D8D8D8; }

/* Default styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root { font-size: 14px }

svg,
rect,
i,
span,
path {
  margin: 0;
  padding: 0; }

i { cursor: pointer; }

body {
  display: flex;
  align-items: flex-start;
  width: 100%; }

header,
nav,
section,
aside,
article,
div,
footer {
  position: relative;
  display: inline-block;
  width: 100%; }

time {
  opacity: .7;
  font-size: .9rem; }

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

/* Class
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hidden-menu {
  margin-left: 0;
  width: 4rem !important; }

.hidden-menu .logo {
  display: none; }

.hidden-menu #menuButtonRight {
  display: block !important; }

.hidden-menu #menu-nav {
  margin-left: -25rem; }

.visible-menu {
  margin-left: 0;
  width: 20rem; }

.visible-menu .logo {
  display: flex; }

.visible-menu #menuButtonRight {
  display: none; }

.visible-menu #menu-nav {
  margin-left: 0; }

.main-content, 
.expanded-main-content {
  display: block;
  width: 100%;
  height: 100vh;
  margin-left: 20rem;
  padding: 4rem;
  transition: .3s;
  overflow: auto; }

.expanded-main-content {
  margin-left: 4rem; }

.title-page {
  margin: -3.1rem 0 2rem 0; }

.logo {
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  margin: 0;
  cursor: pointer; }

.logo .logo-row {
  height: 1rem;
  width: 5px;
  margin: 0;
  padding: 0;
  transition: .5s; }

.logo:hover .logo-row {
  height: 2rem; }

.profile-img {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 100%;
  cursor: pointer; }

.list,
.list header,
.list-row,
.list-item {
  display: flex; }

.list {
  margin-top: 1rem;
  flex-direction: column; }

.list header .list-item {
  padding: 0;
  font-size: 1.2rem;
  opacity: .5;
  background-color: transparent;
  border-color: transparent; }

.list-row:hover .list-item {
  background-color: #F2F2F2; }

.list-item {
  align-items: center;
  padding: .5rem;
  margin: .1rem;
  background-color: #FAFAFA;
  border: 1px solid #F2F2F2; }

.list-item img,
.list-item i {
  margin-right: .5rem; }

.list-item-small {
  width: 30rem;
  justify-content: center; }

.list-item-auto {
  width: auto;
  justify-content: center; }

.online, 
.offline {
  background-color: #00FF40;
  height: .5rem;
  width: .5rem;
  border-radius: 100%; }

.offline {
  background-color: #BDBDBD; }

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .2rem 0 .2rem 0;
  padding: 0; }

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: .2rem 0 .2rem 0;
  padding: 0; }

.progress-bar {
  position: absolute;
  padding: .3rem 1.5rem;
  border-radius: 10rem;
  background-color: #120A2A;
  color: white;
  z-index: 1; }

.progress-bar::after {
  content: "";
  height: 100%;
  width: 100%;
  background: none;
  box-shadow: 0 0 1px .2rem #FAFAFA;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0; }

.priority-progress {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: .5rem;
  height: 100%; }

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  background-color: rgb(33, 111, 243);
  box-shadow: 0 0 .1px .5px rgb(33, 111, 243); }

.dropdown {
  position: relative;
  height: auto; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 20rem;
  width: 100%;
  overflow: auto;
  display: none; 
  flex-direction: column; 
  background-color: #FFFFFF;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8; }

.dropdown-menu li {
  width: 100%;
  padding: .5rem; }

.dropdown-menu li:hover {
  color: rgb(33, 111, 243); }

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 9rem;
  margin: -4rem 0 0 -5rem;
  text-align: center;
  font-size: 10px; 
  z-index: 2; }

.spinner::before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgb(33, 111, 243); }

.spinner div {
  background-color: #FFFFFF;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }  }

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }  
  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0); } }

.tag,
.tag-selected {
  width: auto;
  padding: .3rem;
  border-radius: 3px;
  color: #000000;
  border: 1px solid #000000;
  cursor: pointer; }

.tag-selected,
.tag:hover {
  border-color: rgb(33, 111, 243);
  background-color: rgb(33, 111, 243);
  color: #FFFFFF; }

.number-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 100rem;
  font-size: .8rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: rgb(33, 111, 243); }

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 9rem;
  padding: 1rem;
  margin: 1rem .5rem 2.3rem .5rem;
  background-color: rgb(33, 111, 243);
  border-radius: 2rem;
  cursor: pointer;
  transition: .1s; }

.project:hover {
  box-shadow: 0 0 1px 2px rgb(33, 111, 243); }

.project .project-title,
.project time {
  color: #FFFFFF;
  opacity: 1; }

.project-title {
  position: absolute;
  bottom: -1.5rem;
  height: 1.3rem;
  width: 9rem;
  font-size: 1.3rem;
  color: black !important;
  text-align: center;
  overflow: hidden; }

.margin {
  margin: 1rem; }

.margin-top {
  margin-top: 1rem; }

.margin-bottom {
  margin-bottom: 1rem; }
  
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
  width: 25rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2; }

#header input {
  width: 25rem; }

/* Aside menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#menu {
  position: fixed;
  width: 20rem;
  height: 100vh;
  z-index: 2; }

#menu .menu-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100vh; }

#menu,
#menu .menu-column,
#menu #menu-nav header,
#menu #menu-nav .menu-ul {
  background-color: #120A2A;
  transition: .3s; }

#menu #menu-div {
  justify-content: space-between;
  left: 0;
  width: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

#menu #menu-div span #menuButtonRight {
  display: none; }

#menu #menu-div ul li {
  padding: .5rem 0;
  margin: 1rem 0;
}

#menu #menu-nav {
  left: 4rem;
  width: 16rem; 
  border-right: 1px solid #120A2A; }

#menu #menu-nav header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .5rem; }

#menu #menu-nav .menu-ul {
  border-right: 1px solid #D8D8D8;
  border-top-left-radius: .5rem;
  background-color: #FFFFFF;
  height: 100vh;
  overflow: auto; }

#menu #menu-nav .menu-ul .menu-li {
  display: flex;
  align-items: center;
  width: 16rem;
  padding: 2rem 0;
  border-bottom: 1px solid #D8D8D8;
  cursor: pointer; }

#menu #menu-nav .menu-ul .menu-li:hover {
  background-color: #F2F2F2; }

#menu #menu-nav .menu-ul #first-li {
  border-top-left-radius: .5rem; }

#menu #menu-nav .menu-ul #last-li {
  text-align: center;
  padding-bottom: 0;
  border-bottom: 0;
  justify-content: center; }

#menu #menu-nav .menu-ul #last-li:hover {
  background-color: white; }

#menu #menu-nav .menu-ul #last-li .dropdown-menu {
  border: none; }

#menu #menu-nav .menu-ul .menu-li i {
  padding: 0 .8rem; }

#menu #menu-nav .menu-ul .menu-li p {
  color: #120A2A;
  font-size: 1.8rem; }

/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 800px) {
  :root {
    font-size: 12px; }

  .main-content {
    padding: 0 .5rem 0 .5rem;
    margin-left: 4rem; }

  #header {
    display: none; }

  #menu {
    width: 100%; }

  #menu #menu-div {
    z-index: 1; }

  #menu #menu-nav {
    left: 0;
    width: 100%; }

  #menu #menu-nav .menu-ul {
    width: 100%;
    margin-left: 8rem; }

  #menu #menu-nav .menu-ul .menu-li {
    width: 100%; } 
}