/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
    margin: 0;
    padding: 0;
    color: #2E2E2E;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    word-wrap: break-word;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    background: none;
}

::-webkit-scrollbar {
    width: .2rem;
}

::-webkit-scrollbar-thumb {
    background-color: #E6E6E6;
}

/* Default styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root { font-size: 14px; }

body {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

header,
nav,
section,
aside,
article,
div,
footer {
    position: relative;
    display: block;
    min-width: 100%;
}

main {
    display: block;
    width: 100%;
    height: 100vh;
    margin-left: 18rem;
    padding: 4rem 5rem 5rem 5rem;
    transition: .3s;
    overflow: auto;
}

time {
    opacity: .7;
    font-size: .9rem;
}

i {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

label {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    transition: 1s;
    min-width: 100%;
    cursor: text;
}

label span {
    position: absolute;
    color: #A4A4A4;
    margin: 0 .5rem;
    padding: 0px .5rem;
    background-color: white;
    width: auto;
    transition: .3s;
}

input, 
textarea,
select {
    width: 100%;
    border: 1px solid #E6E6E6;
    padding: .8rem;
    border-radius: 3px;
    transition: .5s;
}

input:focus, 
textarea:focus,
select:focus {
    border-color: white;
    box-shadow: 0px 0px 0px 2px #15DB95;
}

button, 
input[type="submit"] {
    width: auto;
    color: white;
    background-color: #15DB95;
    border: 1px solid #15DB95;
    padding: .8rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

button:hover, 
input[type="submit"]:hover {
    background-color: #01DF74;
    border-color: #01DF74;
}

/* Class
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #F2F2F2;
    padding: .5rem 0;
    cursor: pointer;
}

.list li:hover {
    box-shadow: 0px 0px 1rem 1px #E6E6E6;
}

.list time {
    position: absolute;
    right: .5rem;
    padding: .5rem 1rem;
    border-radius: 10rem;
    background-color: #1A1A1D;
    color: white;
}

.title-page {
    margin: -3.1rem 0 2rem 0;
}

.input-container {
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    padding: 0;
}

.length-1 { min-width: 10%; }
.length-2 { min-width: 20%; }
.length-3 { min-width: 30%; }
.length-4 { min-width: 40%; }
.length-5 { min-width: 50%; }
.length-6 { min-width: 60%; }
.length-7 { min-width: 70%; }
.length-8 { min-width: 80%; }
.length-9 { min-width: 90%; }
.length-10 { min-width: 100%; }

.padding { padding: .5rem; }
.margin { margin: .5rem; }

.left { text-align: left; }
.right { text-align: right; }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    height: 4rem;
    z-index: 1;
}

#header div, i, button {
    margin: 0 .5rem;
}

/* Aside menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#menu {
    position: fixed;
    display: inline-block;
    height: 100vh;
    min-width: 18rem;
    background-color: #070719;
    padding: 0;
    transition: .3s;
    z-index: 2;
}

#menu h4, #menu h5, #menu p {
    color: white;
}

#menu h4 {
    font-family: 'Fjalla One', sans-serif;
}

#menu header, #menu footer {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    padding: 1rem;
    z-index: 2;
}

#menu header {
    position: relative;
    justify-content: space-between;
}

#menu nav {
    height: 100vh;
    overflow: auto;
}

#menu nav ul {
    border-top: 2px solid #0B0B3B;
}

#menu nav ul a li {
    display: flex;
    align-items: center;
    padding: 1rem .5rem;
    cursor: pointer;
}

#menu nav ul a li:hover {
    background-color: #0A0A2A;
}

#menu footer {
    bottom: 0;
    justify-content: center;
    border-top: 2px solid #0B0B3B;
}

#menu footer ul li {
    display: inline-block;
    margin: 0px 10px;
}

/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 800px) {
    .row { flex-direction: column; }
    main { padding: 7rem .5rem 0 .5rem; margin-left: 0;}
    #menu {
        width: 100%;
        border: none; 
    }
    #menu header i {
        position: fixed;
        top: 5px;
        right: 5px;
    }
    #menu footer ul li { margin: 0px 5px; }
    #header { 
        justify-content: flex-start;
        background-color: white;
        z-index: 1;
    }
    #header div, i, button {
        margin: 0;
    }
    .length-1 { min-width: 50%; }
    .length-2 { min-width: 50%; }
    .length-3 { min-width: 50%; }
    .length-4 { min-width: 50%; }
    .length-5 { min-width: 50%; }
    .length-6 { min-width: 50%; }
    .length-7 { min-width: 50%; }
    .length-8 { min-width: 50%; }
    .length-9 { min-width: 50%; }
}