.session-home {
  margin-bottom: 3rem;
}

.session-home h3 {
  padding-bottom: .25rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #E6E6E6;
}

.projects {
  display: flex;
}

.projects .quadrat {
  margin-right: 1rem;
}

.doneTask {
  position: absolute;
  left: -2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}

.rowTask:hover .doneTask {
  opacity: 1;
}