.blue-quadrat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(33, 111, 243);
  border: 1px solid rgb(33, 111, 243);
  height: 9rem;
  width: 9rem;
  padding: 1rem;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
}

.blue-quadrat:hover {
  box-shadow: 0 0 .1px 2px rgb(33, 111, 243);
  border-color: rgb(33, 111, 243);
}

.blue-quadrat p {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: -1.8rem;
  font-size: 1.2rem;
  width: 100%;
  overflow: hidden;
  height: 1.2rem;
}

.white-quadrat {
  background-color: #FFFFFF !important;
  border: 1px solid #E6E6E6E6;
}

.white-quadrat:hover {
  box-shadow: 0 0 .1px 2px #000000;
  border-color: #000000;
}