<aside id="menu">
    <header>
        <h3>Tasks</h3>
        <i id="menuButton" data-eva="menu-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i>
    </header>
    <nav>
        <ul>
            <a href="#">
                <li>
                    <h4>Tarefas</h4>
                </li>
            </a>
            <a href="#">
                <li>
                    <h4>Projetos</h4>
                </li>
            </a>
            <a href="#">
                <li>
                    <h4>Usuários</h4>
                </li>
            </a>
            <a href="#">
                <li>
                    <h4>Relátorios</h4>
                </li>
            </a>
        </ul>
    </nav>
    <footer>
        <ul>
            <a href="#">
                <li>
                    <span class="hint--top" aria-label="Principal">
                        <i data-eva="home-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i>
                    </span>
                </li>
            </a>
            <a href="#">
                <li>
                    <span class="hint--top" aria-label="Perfil">
                        <i data-eva="person-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i>
                    </span>
                </li>
            </a>
            <a href="#">
                <li>
                    <span class="hint--top" aria-label="Notificações">
                        <i data-eva="bell-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i>
                    </span>
                </li>
            </a>
        </ul>
    </footer>
</aside>