<aside id="menu">
  <div id="menu-div" class="menu-column">
    <span>
      <figure id="menuLogo" class="logo">
        <section class="logo-row" style="padding-top: 1.0rem; background-color: #E01E5A; margin: 0;"></section>
        <section class="logo-row" style="padding-top: 1.3rem; background-color: #ECB22E;"></section>
        <section class="logo-row" style="padding-top: 1.6rem; background-color: #36C5F0;"></section>
        <section class="logo-row" style="padding-top: 1.9rem; background-color: #2EB67D;"></section>
      </figure>
      <i id="menuButtonRight" data-eva="arrowhead-right-outline" data-eva-animation="none" data-eva-fill="#FFFFFF"
        data-eva-width="1.8rem" data-eva-height="1.8rem"
        onclick="changeElementStyle([
          { 'element': '#menu', class: 'visible-menu' }, 
          { 'element': 'main', class: 'main-content' }
        ]);">
      </i>
    </span>
    <ul>
      <li>
        <span class="hint--right" aria-label="Página inicial">
          <i data-eva="home-outline" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="1.8rem"
            data-eva-height="1.8rem"></i>
        </span>
      </li>
      <li>
        <span class="hint--right" aria-label="Mensagens">
          <i data-eva="message-circle-outline" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="1.8rem"
            data-eva-height="1.8rem"></i>
        </span>
      </li>
      <li>
        <span class="hint--right" aria-label="Notificações">
          <i data-eva="bell-outline" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="1.8rem"
            data-eva-height="1.8rem"></i>
        </span>
      </li>
    </ul>
    <span class="hint--right" aria-label="Perfil">
      <img src="/images/profile.jpg" class="profile-img">
    </span>
  </div>
  <nav id="menu-nav" class="menu-column">
    <header>
      <i id="menuButton" data-eva="arrowhead-left-outline" data-eva-animation="none" data-eva-fill="#FFFFFF"
        data-eva-width="1.8rem" data-eva-height="1.8rem"
        onclick="changeElementStyle([
          { 'element': '#menu', class: 'hidden-menu' }, 
          { 'element': 'main', class: 'expanded-main-content' } 
        ]);">
      </i>
    </header>
    <ul class="menu-ul">
      <li class="menu-li" id="first-li">
        <i data-eva="done-all" data-eva-animation="none" data-eva-fill="#282841" data-eva-width="2.2rem"
          data-eva-height="2.2rem"></i>
        <p>Tarefas</p>
      </li>
      <li class="menu-li">
        <i data-eva="layers-outline" data-eva-animation="none" data-eva-fill="#282841" data-eva-width="2.2rem"
          data-eva-height="2.2rem"></i>
        <p>Projetos</p>
      </li>
      <li class="menu-li">
        <i data-eva="person-outline" data-eva-animation="none" data-eva-fill="#282841" data-eva-width="2.2rem"
          data-eva-height="2.2rem"></i>
        <p>Usuários</p>
      </li>
      <li class="menu-li">
        <i data-eva="activity" data-eva-animation="none" data-eva-fill="#282841" data-eva-width="2.2rem"
          data-eva-height="2.2rem"></i>
        <p>Relatórios</p>
      </li>
      <li id="last-li" class="menu-li">
        <div class="dropdown">
          <button class="matter-button-contained matter-secondary">Adicionar novo</button>
          <ul class="dropdown-menu">
            <a href="#"><li>Tarefa</li></a>
            <a href="#"><li>Projeto</li></a>
            <a href="#"><li>Conversa</li></a>
            <a href="#"><li>Convite</li></a>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</aside>