<aside id="menu">
    <header>
        <h4>yourgoal</h4>
        <i id="menuButton" data-eva="menu-outline" data-eva-animation="shake" data-eva-fill="#15DB95"></i>
    </header>
    <nav>
        <ul>
            <a href="#">
                <li>
                    <i data-eva="checkmark-circle-2-outline" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="1.5rem"
                        data-eva-height="1.5rem"></i>
                    <h5>Tarefas</h5>
                </li>
            </a>
            <a href="#">
                <li>
                    <i data-eva="folder-outline" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="1.5rem"
                        data-eva-height="1.5rem"></i>
                    <h5>Projetos</h5>
                </li>
            </a>
            <a href="#">
                <li>
                    <i data-eva="person-outline" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="1.5rem"
                        data-eva-height="1.5rem"></i>
                    <h5>Usuários</h5>
                </li>
            </a>
            <a href="#">
                <li>
                    <i data-eva="pie-chart-outline" data-eva-animation="none" data-eva-fill="#FFFFFF" data-eva-width="1.5rem"
                        data-eva-height="1.5rem"></i>
                    <h5>Relátorios</h5>
                </li>
            </a>
        </ul>
    </nav>
    <footer>
        <ul>
            <a href="#">
                <li>
                    <span class="hint--top" aria-label="Principal">
                        <i data-eva="home-outline" data-eva-animation="shake" data-eva-fill="#15DB95"></i>
                    </span>
                </li>
            </a>
            <a href="#">
                <li>
                    <span class="hint--top" aria-label="Perfil">
                        <i data-eva="person-outline" data-eva-animation="shake" data-eva-fill="#15DB95"></i>
                    </span>
                </li>
            </a>
            <a href="#">
                <li>
                    <span class="hint--top" aria-label="Notificações">
                        <i data-eva="bell-outline" data-eva-animation="shake" data-eva-fill="#15DB95"></i>
                    </span>
                </li>
            </a>
        </ul>
    </footer>
</aside>