<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <script src="https://unpkg.com/eva-icons"></script>
</head>
<body>
    <aside id="menu">
        <header>
           <h3>Tasks</h3>
            <div id="arrowButton" class="container-icon">
                <i data-eva="menu-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i>
            </div>
        </header>
        <nav>
            <ul>
                <a href="#"><li><h4>Tarefas</h4></li></a>
                <a href="#"><li><h4>Projetos</h4></li></a>
                <a href="#"><li><h4>Usuários</h4></li></a>
                <a href="#"><li><h4>Relátorios</h4></li></a>
            </ul>
        </nav>
        <footer>
            <ul>
                <a href="#"><li><i data-eva="home-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i></li></a>
                <a href="#"><li><i data-eva="person-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i></li></a>
                <a href="#"><li><i data-eva="bell-outline" data-eva-animation="shake" data-eva-fill="#0080FF"></i></li></a>
            </ul>
        </footer>
    </aside>
    <script>
        eva.replace()
        eva.replace({
                animation: {
                    type: 'flip', // zoom, pulse, shake, flip
                    hover: true, // default true
                    infinite: false, // default false
                }
            });
    </script>