<header id="header">
  <div class="dropdown">
    <label class="matter-textfield-filled  matter-secondary">
      <input placeholder=" ">
      <span>Procurar projeto ou tarefa</span>
    </label>
    <ul class="dropdown-menu">
      <a href="#"><li>Option</li></a>
      <a href="#"><li>Option</li></a>
      <a href="#"><li>Option</li></a>
    </ul>
  </div>
</header>