<header id="header">
  <div class="container-dropdown">
    <label for="btnSearch">
      <span>
        <i data-eva="search-outline" data-eva-animation="none" data-eva-fill="#A4A4A4" data-eva-width="1.5rem"
          data-eva-height="1.5rem"></i>
        Procurar projeto ou tarefa</span>
    </label>
    <input type="text" id="btnSearch">
    <ul class="dropdown">
      <li>Option</li>
      <li>Option</li>
      <li>Option</li>
      <li>Option</li>
      <li>Option</li>
      <li>Option</li>
      <li>Option</li>
    </ul>
  </div>
</header>