<main class="main-content">
  <h3 class="title-page">Usuários</h3>
  <section>
    <div class="tag" id="">#trabalhando</div>
    <div class="tag" id="">#livre</div>
    <div class="tag" id="">#online</div>
    <div class="tag" id="">#tcc</div>
    <div class="tag" id="">#show</div>
  </section>
  <section class="list">
    <header>
      <div class="list-item">Pessoa</div>
      <div class="list-item list-item-small">Profissão</div>
      <div class="list-item list-item-small">Status</div>
      <div class="list-item list-item-small">Online</div>
    </header>
    <div class="list-row">
      <div class="list-item">
        <img class="profile-img" src="images/profile.jpg">
        Gabriel Marques de Souza
      </div>
      <div class="list-item list-item-small">Desenvolvedor</div>
      <div class="list-item list-item-small">Ocupado</div>
      <div class="list-item list-item-small"><span class="online"></span></div>
    </div>
    <div class="list-row">
      <div class="list-item">
        <img class="profile-img" src="images/profile.jpg">
        Gabriel Marques de Souza
      </div>
      <div class="list-item list-item-small">Artista</div>
      <div class="list-item list-item-small">Ocupado</div>
      <div class="list-item list-item-small"><span class="offline"></span></div>
    </div>
    <div class="list-row">
      <div class="list-item">
        <img class="profile-img" src="images/profile.jpg">
        Gabriel Marques de Souza
      </div>
      <div class="list-item list-item-small">Suporte</div>
      <div class="list-item list-item-small">Ocupado</div>
      <div class="list-item list-item-small"><span class="offline"></span></div>
    </div>
    <div class="list-row">
      <div class="list-item">
        <img class="profile-img" src="images/profile.jpg">
        Gabriel Marques de Souza
      </div>
      <div class="list-item list-item-small">UX Design</div>
      <div class="list-item list-item-small">Ocupado</div>
      <div class="list-item list-item-small"><span class="online"></span></div>
    </div>
  </section>
</main>