@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'Indie Flower', cursive;
}

.padding {
  padding: 0 2.5rem;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 1rem 0;
  z-index: -2;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.login {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background-color: #FFFFFF;
}

.login section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}

.login section a h2 {
  padding: 1rem 0;
}

.h2-left,
.h2-right {
  transition: .2s;
  cursor: pointer;
}

.h2-left:hover {
  box-shadow: 5px 5px 5px 2px #E6E6E6;
}

.h2-right:hover {
  box-shadow: -5px 5px 5px 2px #E6E6E6;
}

.login section h1 {
  font-size: 3rem;
}
.login section a,
.login section a h2,
.login section div {
  width: 100%;
}

.login section div h3 {
  position: relative; 
  padding: 1rem 0;
  z-index: 1;
}

.login section div h3 span {
  background-color: #FFFFFF;
  padding: 0 1rem;
  color: #6E6E6E;
  z-index: 2;
}

.login section div h3:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #E6E6E6;
  z-index: -1;
}