.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  height: 4rem;
}

.header .right-content {
  display: flex;
  align-items: center;
}

.header div button {
  border: none;
  font-size: 1.05rem;
  height: calc(4rem + 1px);
  padding: 0 2rem;
}

.add-container {
  position: relative;
  flex-direction: column;
}

.add-container .dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 1;
}

.add-container .dropdown span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem .8rem;
}

.flex { display: flex !important; }
.none { display: none !important; }