.col,
.col .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.col:hover .item {
  background-color: #F2F2F2;
  border-color: #E6E6E6;
}

.col .item {
  justify-content: flex-start;
  height: 4rem;
  width: 20%;
  padding: 0 .5rem;
  background-color: #FAFAFA;
  border: 1px solid #F2F2F2;
  margin: 0 3px 0 0;
}

.first:hover .item {
  background-color: #FFFFFF;
}

.first .item {
  height: auto;
  background-color: #FFFFFF;
  border: none;
  padding: 0;
  margin: 0;
  opacity: .7;
  font-size: 1.11rem;
}

._2 { width: 20% !important; justify-content: center !important; }
._4 { width: 40% !important; }
._6 { width: 60% !important; }
._8 { width: 80% !important; }
._10 { width: 100% !important; }